*.gem
*.rbc
.bundle
.config
InstalledFiles
lib/bundler/man
pkg
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc

#latex
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

# Mac finder files and hidden folders
.DS_Store
